
/* CSS Reset */
body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and image */
body {
    background-color: #0000ff80;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rule for tables */
table, th, td {
    table-layout: auto;
 
    border: 1px solid;
    padding: 2px;
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: left;
    margin: 0 auto;
    margin-left: 0;
    width: auto
}